<h1>make a new figure</h1>

<form action="/figures" method="POST">
  <label>figure Name:</label>

  <input type="text" name="figure[name]" id="Name">
  <br></br>

  <!-- Landmark Checkboxes -->
  <label>Choose an existing landmark:</label>
  <br></br>

  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%=landmark.name%>"><%=landmark.name%></input>
    <br>
  <%end%>

  <br>
  <label>and/or, create a new landmark:</label>
  <br></br>
  <label>name:</label>
    <input type="text" name="landmark[name]"></input>
  <br></br>

  <!-- Title Checkboxes -->
  <label>Choose an existing title:</label>
  <br></br>

  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="<%=title.name%>"><%=title.name%></input>
    <br>
  <%end%>

  <br>
  <label>and/or, create a new title:</label>
  <br></br>
  <label>name:</label>
    <input type="text" name="title[name]"></input>
  <br></br>

  <input type="submit" id="Create New Figure" value="Create (New) Figure">
</form>
